<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>API Users</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/album/">

    <!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
  <body>
    <header>
  <div class="bg-dark collapse" id="navbarHeader" style="">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About Me</h4>
          <p class="text-muted">I am Daniel Sánchez a Computer engineer with a large web development and software engineering experience using LAMP and MEAN stacks, knowledge in responsive web site development, HTML5, CSS3, Bootstrap, Javascript, Jquery, Ajax, AngularJS, BackboneJS, Underscore, Mustache, GruntJs, VueJs,NodeJs, MochaJs, ChaiJs, PHP, Laravel Framework, SQL, MySQL, Oracle, PostgreSQL, Firebird, MongoDB Databases, Linux, GIT, SVN, Facebook, Twitter, Instagram, LinkedIn, Pinterest, Mailchimp and PayU developers APIs, Web Services and RESTful APIs development, Test Driven Development TDD, Unit Testing, MVC software architecture pattern, Apache module implementation, Virtual Servers administration on Amazon Web Services AWS EC2 instances, Linux Server Administration (Debian, Ubuntu, CentOS), SEO knowledges, Pl-SQL, Application Development with Oracle Developer Suite 6, Visual Studio 6, Agile development methodologies XP and SCRUM, Docker Images and containers.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="https://github.com/ingdanielsanchezve" target="_blank" class="text-white">Check my GitHub Profile</a></li>
            <li><a href="https://www.linkedin.com/in/ingdanielsanchezvzla/" target="_blank" class="text-white">Linkedin</a></li>
            <li><a href="mailto:ingdanielsanchezve@gmail.com" target="_blank" class="text-white">Email me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <strong>API Users</strong>
      </a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">API Users</h1>
      <p class="lead text-muted">This is a Simple API Users created with Node.Js, Serverless, AWS DynamoDB, Mocha, Should, Supertest, swagger-jsdoc & Swagger UI Express.</p>
      <p>
        <a href="/prod/api-docs" class="btn btn-primary my-2">Show me the Docs</a>
        <a href="https://github.com/ingdanielsanchezve/api_users" target="_blank" class="btn btn-primary my-2">GitHub Repo</a>
      </p>
    </div>
  </section>

</main>

<footer class="text-muted">
  <div class="container">
    <p>Developed by Ing. Daniel Sánchez ingdanielsanchezve@gmail.com</p>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body></html>